.body {
  width: 100% ;
  min-height: 200vh ;
  background-color: #F4F5F7 ;
  position: relative;
  overflow-x : hidden ;
}
.overlay {
  width: 100% ;
  min-height: calc(100vh - 80px) ;
  position: fixed ;
  top: 0 ;
  z-index : 200 ;
  background: linear-gradient(180deg , black , rgb(58, 50, 50) , white) ;
  opacity: .0;
  z-index: -1 ; 
  transition: .3s ease-out ;
  bottom: 0 ;
}

.start-overlay {
  z-index: 2 ;
  opacity: .7 
}

.body-up {
  display: flex ;
  background-color: #FAFAFA ;
  max-height: 650px ;
}
.body-up-right {
    flex: .55 ;
    background-image : url('../Assets/heroDesktop.svg') ;
    background-repeat: no-repeat ;
}

.body-up-left > h1 {
  font-size : clamp(1.3em , 3.5em , 4.2em )  ; 
  font-weight: 300 ;
  margin: 20px 0 ;
}
.body-up-left > p {
  color: #ADACB2 ;
  line-height: 1.8 ;
  font-size: 18px ;
  margin-bottom: 20px ;
  margin-top: 10px ;
}

.body-up-left {
  padding-left: 7vw ;
  padding-right: 10px ;
  flex: .45 ;
  display: flex ;
  flex-direction: column ;
  align-items: left ;
  justify-content: center ;
  background-repeat: no-repeat
}
.body-up-right > img {
    position: relative ;
    transform: translate(130px ,-130px);
    -webkit-transform: translate(130px ,-130px);
    -moz-transform: translate(130px ,-130px);
    -ms-transform: translate(130px ,-130px);
    -o-transform: translate(130px ,-130px);
}

@media screen and (max-width: 800px) {
  .body-up {
    max-height: none !important ;
    flex-direction: column-reverse ;
  }
  .body-up-right > img {
    width: 100% ;
      margin: 0 auto ;
      transform: translate(0 ,-130px);
      -webkit-transform: translate(0 ,-130px);
      -moz-transform: translate(0 ,-130px);
      -ms-transform: translate(0 ,-130px);
      -o-transform: translate(0 ,-130px);
}
  .body-up-left {
    text-align: center ;
    padding: 0vh 5vw ;
    flex: auto ;
  }
  .body-up-left > button {
    margin: 0 auto ;
    margin-bottom: 18vh ;
  }
  .body-up-right {
    flex: auto;
    max-height: 850px ;
  }
  .body-up-left > h1 {
    font-size: 2rem ;
  }
}

@media screen and (max-width: 375px) {
  .body-up-right {
    background-image : url('../Assets/heroMobile.svg')
  }
}